#components-layout-demo-custom-trigger .trigger {
   font-size: 18px;
   line-height: 64px;
   padding: 0 24px;
   cursor: pointer;
   transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
   color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
   height: 32px;
   background: red;
   margin: 160px;
}

.site-layout .site-layout-background {
   background: white;
}

.parent {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-gap: 1rem;
   justify-items: center;
   align-items: center;
   border: 2px rgb(23, 0, 128);

}